import reducer from './reducers';

import * as {moduleName}Selectors from './selectors';
import * as {moduleName}Operations from './operations';
import * as {moduleName}Types from './types';

export { {moduleName}Selectors, {moduleName}Operations, {moduleName}Types };

export default reducer;
